<!-- Player de vídeo -->
<div class="player-container">
    <div class="player">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BQIENssBrzI" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<!-- Descrição do vídeo -->
<div class="player-description box">
    <h3>Aqui vai o título do vídeo</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in dolor ut nibh imperdiet aliquet ut vitae justo. Vivamus ac risus laoreet.</p>
</div>