<div class="box">
    <ul class="video-list">
        <li class="video" *ngFor="let video of videosPaginated">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img [src]="video.snippet.thumbnails.high.url">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>{{ video.snippet.title }}</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    {{ video.statistics.viewCount }} views
                </span>
                </div>
            </div>
        </li>
    </ul>

    <button type="button" class="video-action" (click)="paginateVideos()">
        Carregar mais vídeos...
    </button>
</div>