<!-- Player de vídeo -->
<div class="player-container">
    <div class="player">
        <iframe width="1920" height="1080" frameborder="0" allowfullscreen [src]="urlVideo" *ngIf="urlVideo"></iframe>
    </div>
</div>

<!-- Descrição do vídeo -->
<div class="player-description box">
    <div class="title">
        <h3>{{ video.snippet?.title }}</h3>
        <div class="info-md">
            <div class="views">
                <div class="popover">
                    {{ ficticia.formatNumber(video.statistics?.viewCount) }} views
                </div>
            </div>

            <div class="date">
                <div class="popover">
                    {{ ficticia.formatDateBr(video.snippet?.publishedAt) }}
                </div>
            </div>
        </div>
    </div>

    <p class="description">{{ video.snippet?.description }}</p>

    <div class="info-xs">
        <span class="views">
            <i></i> {{ ficticia.formatNumber(video.statistics?.viewCount) }}
        </span>
        <span class="date">
            <i></i>
            {{ ficticia.formatDateBr(video.snippet?.publishedAt) }}
        </span>
    </div>
</div>