<!-- Header -->
<header class="header-main" [ngClass]="cssSearch">
    <div class="header-content container">

        <!-- Logo -->
        <div class="header-logo">
            <a routerLink="">
                <img src="/assets/images/logo.png" alt="Ficticia logo">
            </a>
        </div>

        <!-- Ações -->
        <div class="header-actions">

            <!-- Pesquisar -->
            <div class="action-search">
                <span class="search-back" (click)="toggleSearch()"></span>
                <span class="search-icon" (click)="toggleSearch()"></span>
                <span class="search-icon submit" (click)="submitSearch()"></span>
                <form class="search-form" (ngSubmit)="submitSearch()">
                    <input type="text" class="search-input" name="term" [(ngModel)]="term">
                </form>
            </div>

            <!-- Menu -->
            <div class="action-menu" (click)="toggleDropdown()">
                <span class="line"></span>
                <nav class="dropdown dropdown-nav" [ngClass]="cssDropdown">
                    <ul>
                        <li><a routerLink="" class="star">Destaques</a></li>
                        <li><a routerLink="/videos" class="video">Vídeos</a></li>
                    </ul>
                </nav>
            </div>

        </div>

    </div>
</header>

<main (click)="closeDropdown()">
    <router-outlet></router-outlet>
</main>