<!-- Header -->
<header class="header-main">
    <div class="header-content container">

        <!-- Logo -->
        <div class="header-logo">
            <a routerLink="">
                <img src="src/assets/images/logo.png" alt="Ficticia logo">
            </a>
        </div>

        <!-- Ações -->
        <div class="header-actions">
            <div class="action-menu">
                <span class="line"></span>
            </div>
        </div>

    </div>
</header>

<main>
    <router-outlet></router-outlet>
</main>