<div class="box">
    <ul class="video-list">
        <li class="video">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>Título do vídeo</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    500 views
                </span>
                </div>
            </div>
        </li>
        <li class="video">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>Título do vídeo</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    500 views
                </span>
                </div>
            </div>
        </li>
        <li class="video">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>Título do vídeo</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    500 views
                </span>
                </div>
            </div>
        </li>
        <li class="video">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>Título do vídeo</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    500 views
                </span>
                </div>
            </div>
        </li>
        <li class="video">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>Título do vídeo</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    500 views
                </span>
                </div>
            </div>
        </li>
        <li class="video">
            <div class="video-content">
                <div class="video-thumb">
                    <a href="">
                        <img src="http://placehold.it/350x200" alt="">
                    </a>
                </div>
                <div class="video-info">
                    <a href="" class="title">
                        <h3>Título do vídeo</h3>
                    </a>
                    <span class="views">
                    <i></i>
                    500 views
                </span>
                </div>
            </div>
        </li>
    </ul>

    <button type="button" class="video-action">
        Carregar mais vídeos...
    </button>
</div>