@import (reference) "../../../assets/less/ficticia/base/base-variables";

&:host
{
    display: none;
}

.videos-modal
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;

    .modal-content
    {
        position: relative;
        padding: 50px 10px 10px;
        width: 100%;
        height: 100%;
        border: 1px solid #bbb;
        border-radius: 2px;
        background-color: white;
        box-sizing: border-box;
    }

    .modal-close
    {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 25px;
        color: red;
        padding: 14px;
        vertical-align: top;
        line-height: 15px;
        cursor: pointer;
    }

    app-player /deep/ .box
    {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    @media (min-width: @screen-md)
    {
        background-color: fade(#fff, 90%);

        .modal-content
        {
            max-width: 500px;
            padding: 50px 22px 22px;
            height: auto;
        }
    }
}